<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sowicm.together</string>
	<key>connections</key>
	<dict>
		<key>82387DEC-817E-4706-B797-9BA9A1A989FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14259BBE-1A10-48A9-B4CC-57011BD43B16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA2A4E8D-DA28-468D-B569-AEE11460EDE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82387DEC-817E-4706-B797-9BA9A1A989FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sowicm</string>
	<key>description</key>
	<string>Import current url to together</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Together Import Url</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "act.scpt" with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82387DEC-817E-4706-B797-9BA9A1A989FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tga</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>run script "add_filter.scpt" with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Together import</string>
				<key>title</key>
				<string>Together import</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DA2A4E8D-DA28-468D-B569-AEE11460EDE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Together</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>14259BBE-1A10-48A9-B4CC-57011BD43B16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14259BBE-1A10-48A9-B4CC-57011BD43B16</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>82387DEC-817E-4706-B797-9BA9A1A989FC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DA2A4E8D-DA28-468D-B569-AEE11460EDE8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>sowicm.com</string>
</dict>
</plist>
